@use '../abstract/variables' as *;

.heading-primary {
	font: 2.4rem $font-primary;
	font-weight: 400;
	color: var(--color-primary);
	text-transform: capitalize;

	&--sub {
		font-size: 2.2rem;
		margin-bottom: 1rem;
	}
}

.heading-secondary {
	font: 1.8rem $font-primary;
	font-weight: 400;
	color: var(--color-primary);
	position: relative;
	z-index: 5;
}

.heading-tertiary {
	font: 1.5rem $font-primary;
	color: var(--color-secondary);
	z-index: 5;

	&--white {
		z-index: 5;
		font-size: 1.6rem;
		color: var(--color-primary);
	}
}
